.search-results-container {
  display: flex;
}

.sidebar {
  width: 25%;
  padding: 20px;
}
.by-category-section {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px #333 solid;
}

.by-tutor-section {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px #333 solid;
}

.course-list-container {
  flex: 1;
  padding: 20px;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
}

.course-list-item {
  width: 90%;
  margin: 10px;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
  color: aliceblue;
}

.search-course-details {
  display: flex;
}

.search-course-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .search-results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sidebar {
    width: 100%;
    padding: 20px;
    color: #333;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
  }
  .course-list {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  .search-course-details {
    display: block;
    text-align: center;
  }
  .search-course-details h1,
  p {
    margin-top: 10px;
  }
  .search-course-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
  }
}
