.course-container {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.course-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items at the start of the container */
  /* background-color: #f5f5f5; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* Adjust as needed */
  width: 100%;
}

.course-image {
  max-width: 200px; /* Adjust the max-width as needed */
  margin-right: 20px; /* Margin to the right of the image */
  border-radius: 8px;
}

.course-details {
  flex: 1;
}

.course-title {
  text-decoration: underline;
  font-size: 2rem;
  margin-bottom: 20px;
}

.course-extra-details {
  margin-top: 20px;
}

.course-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.course-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.star {
  font-size: 24px;
  margin: 0 2px;
}

.full-star {
  color: gold;
}

.half-star {
  background: linear-gradient(90deg, gold 50%, #ccc 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.empty-star {
  color: #ccc;
}

.rating-label {
  margin-left: 8px;
  font-size: 18px;
}
.add-to-cart-button,
.go-to-courses-button,
.login-to-purchase-button {
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  background-color: #333;
  cursor: pointer;
  color: aliceblue;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-to-cart-button:hover,
.go-to-courses-button:hover,
.login-to-purchase-button:hover {
  background-color: #555;
}

.add-to-cart-button:active,
.go-to-courses-button:active,
.login-to-purchase-button:active {
  transform: scale(0.95);
  background-color: #222;
}
.course-in-cart-button {
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  color: aliceblue;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: #555;
}
.back-button {
  font-family: Roboto;
  border-radius: 10px;
  padding: 10px;
  color: aliceblue;
  background-color: #333;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}
.back-div {
  margin-top: 30px;
}

@media (max-width: 768px) {
  .course-container {
    padding: 20px;
  }

  .course-content {
    flex-direction: column;
    align-items: center; /* Center align items on smaller screens */
    padding: 15px;
  }

  .course-image {
    max-width: 100%; /* Make image responsive */
    margin-right: 0; /* Reset margin */
    margin-bottom: 15px; /* Add margin to bottom */
  }

  .course-details {
    text-align: center;
  }

  .course-title {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
    margin-bottom: 15px;
  }

  .course-price,
  .course-rating {
    font-size: 1rem; /* Adjust font size for smaller screens */
    text-align: center; /* Center align text on smaller screens */
  }

  .star {
    font-size: 20px;
  }

  .rating-label {
    font-size: 1rem;
  }

  .add-to-cart-button,
  .go-to-courses-button,
  .login-to-purchase-button,
  .course-in-cart-button,
  .back-button {
    padding: 10px;
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }
}
